.blog {
    padding-top: 60px;
    position: relative;
    
    &__bg {
        background: url("/img/greenbg.webp");
        background-size: contain;
        background-position: center;
        padding-bottom: 30px;
    }
    &__border{
        position: absolute;
        width: 100vw;
        left: 0;
        bottom: -119px;

        img {
            height: 120px;
            width: 100vw;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        color: #000000;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
        line-height: 73px;
        @include lg-d {
            font-size:  50px;
        }
        @include md-d {
            font-size:  36px;
        }
        @include sm-d {
            margin-bottom: 30px;
        }
    }
    &__wrapper {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include md-d {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__box {
        min-width: 414px;
        max-width: 414px;
        display: flex;
        flex-direction: column;
        background: transparent;
        border: 1px solid #000;

        margin-right: 5px;
        margin-top: 20px;
        &:last-child {
            margin-right: 0;
        }
        @include md-d {
            margin-top: 5px;
            &:first-child {
                margin-top: 30px;
            }
        }
        @include sm-d {
            margin-right: 0;
        }
    }
    &__img {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height: 206px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
        img {
            width: 100%;
            object-fit: cover;
            transition: 0.3s linear;
            &:hover {
                display: block;
                transition: 0.3s linear;
                transform: scale(1.1);
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 26px;
        height: 216px;
    }
    &__upline {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 16.8px */
        font-variant: small-caps;
        text-transform: uppercase;
        margin-top: 24px;
        
    }
    &__top{
        padding-right: 20px;
    }
    &__downline {
        padding-bottom: 30px;
    }
    &__data {
        margin-top: 12px;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 114.5%; /* 16.03px */
        font-variant: small-caps;
        opacity: 0.5;
        text-transform: uppercase;
    }
    &__read {
        a {
            color: #000;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 114.5%; /* 16.03px */
            font-variant: small-caps;
        }
    }
    &__center{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 88px;   
    }
    &__btn {
        width: 322px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        text-transform: uppercase;
        border: 3px solid #000;
        align-self: center;
        a{
            color: #000;
            width: 100%;
            height: 100%;
        }
            
    }
}


.more {
    color: #fff;
    .blog__box{
        border: 1px solid #fff;
    }    
    a{
        color: #fff;
    }
}
.releases{
    color: #fff;
    .blog__box{
        border: 1px solid #fff;
    }    
    a{
        color: #fff;
    }
}
.releases__title{
    padding-top: 60px;
}
.full-releases{
    color: #fff;
    background-image: url("/img/footbg.png");
    background-size: contain;
    p{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        color: rgba(255, 255, 255, 0.6);;
        strong{
            font-weight: bold;
            color: rgba(255, 255, 255, 0.7);;

        }
    }
    h3{
        margin-top: 48px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.full-releases__title{
    padding-top: 60px;
    font-size: 40px;
}
.full-releases__img{
    @include md-d{
        margin: 0 10px;
    }
    img{
        margin-top: 30px;

    }
}
.full-releases__content{
    margin-top: 30px;
    padding-bottom: 0px;
    p{
        margin-top: 16px;
    }
    ol{
        margin-top: 15px;
    }
    li{
        margin-top: 8px;
    }
}