.polityka {
    padding-top: 150px;
    background-image: url("/img/footbg.png");
    background-size: contain;
    background-color: #000;

    &__wrapper {
        max-width: 990px;
    }

    &__link {
        display: flex;
        align-items: center;

        a {
            &:first-child {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: $accent;
                margin-right: 8px;
            }

            &:last-child {
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                opacity: 0.5;
            }
        }

        div {
            margin-right: 8px;
        }
    }

    &__content {
        margin-top: 64px;
    }

    &__box {
        margin-top: 48px;

        p {
            margin-top: 16px;

            &:first-child {
                margin-top: 24px;
            }
            a{
                color: $accent;
                text-decoration: underline;
            }
        }

        ul {
            margin-top: 16px;
            padding-left: 20px;
            li {
                margin-top: 4px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                opacity: 0.6;
                list-style-type: disc;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        color: #FFFFFF;
        @include md-d{
            font-size: 16px;
        }
    }

    &__text {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.6;
        @include md-d{
            font-size: 13px;
        }
    }
    &__footer{
        padding-top: 0 !important;
    }
}