<section class="intro">
   <div class="container intro__container">
     <div class="intro__wrapper">
       <div class="intro__left">
         <h1 class="intro__title ">
          <!-- {{ .Params.intro.title }} -->
          {{ .Params.intro.title | safeHTML }}
         </h1>
         <div class="intro__subtitle ">
          {{ .Params.intro.subtitle | safeHTML }}
         </div>
         <a href="#form" class="intro__btn btn btn--intro gsap__title">
          {{ .Params.intro.btn_text }}
         </a>
       </div>

       <div class="intro__img gsap__intro">
         <img src="img/statuya.webp" alt="statuya">
       </div>
       <div class="intro__circle gsap__intro-circle">
         <img class="" src="img/circles.webp" alt="circle">
       </div>

     </div>
   </div>

 </section>

