<section class="number">
   <div class="container">
     <div class="number__wrapper">
       <div class="number__danger">
         <img src="img/dangers.webp" alt="hustlerdigital">
         <img src="img/dangers.webp" alt="hustlerdigital">
       </div>
       {{  range .Params.numbers.box }}
            <div class="number__box counters">
                <div class="number__main">{{ .number | safeHTML}}</div>
                <div class="number__remark">{{ .text }}</div>
            </div>
        {{ end }}
       </div>
     </div>
   </div>
 </section>



