<section class="number">
   <div class="container">
     <div class="number__wrapper">
       <div class="number__danger">
         <img src="img/dangers.webp" alt="hustlerdigital">
         <img src="img/dangers.webp" alt="hustlerdigital">
       </div>
       <div class="number__box counters">
         <div class="number__main"><span class="animCounter" id="counter3">100</span>M</div>
         <div class="number__remark">Загальне охоплення бази блогерів</div>
       </div>
       <div class="number__box counters">
         <div class="number__main"><span class="animCounter" id="counter">10</span>+</div>
         <div class="number__remark">Cвітових брендів, які співпрацюють</div>
       </div>
       <div class="number__box counters">
         <div class="number__main"><span class="animCounter" id="counter2">28</span></div>
         <div class="number__remark">Місяців - найдовше LTV з клієнтом</div>
       </div>
       <div class="number__box counters">
         <div class="number__main"><span class="animCounter" id="counter4">120</span>+</div>
         <div class="number__remark">Рекламних кампаній запущено цього року</div>
       </div>
     </div>
   </div>
 </section>



