<section id="video" class="video">
   <div class="video__upline">
     <img src="img/border.webp" alt="border">
   </div>
   <div class="container">
     <div class="video__wrapper">
       <div class="video__main">
         <div class="video__text">
           <p class="video__paragraph gsap__video">У 2021 році кілька менеджерів та медіабаєрів запустили машину зі
             створення та просування контенту. Так виник HUSTLER — креативне агентство fullstack просування.</p>
           <p class="video__paragraph gsap__video">За останні роки ми організували понад 1000 інтеграцій у блогерів
             різного рівня, реалізували близько 100 рекламних кампаній, встигли співпрацювати з 30+
             гемблінг-проектами, серед яких бренди зі світовим ім'ям.</p>
           <p class="video__paragraph gsap__video">Звертаючись до нас, ви отримуєте не просто підрядника у вигляді
             агентства, а виділену in-house команду на аутсорсі з низкою переваг.</p>
           <p class="video__paragraph gsap__video">Основними напрямками агентства є: influence marketing, брендинг,
             арбітраж трафіку, виробництво та просування контенту.</p>
         </div>
         <div class="video__arrow gsap__arrow">
           <svg width="653" height="24" viewBox="0 0 653 24" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path
               d="M652.061 13.0607C652.646 12.4749 652.646 11.5251 652.061 10.9393L642.515 1.3934C641.929 0.807611 640.979 0.807611 640.393 1.3934C639.808 1.97919 639.808 2.92893 640.393 3.51472L648.879 12L640.393 20.4853C639.808 21.0711 639.808 22.0208 640.393 22.6066C640.979 23.1924 641.929 23.1924 642.515 22.6066L652.061 13.0607ZM0 13.5H651V10.5H0V13.5Z"
               fill="#00FF00" />
           </svg>
         </div>
       </div>
       <div class="video__content">
         <div class="video__scotch">
           <img src="img/scotch.webp" alt="scotch">
         </div>
         <div class="video__video">
           <video autoplay muted loop id="myVideo" playsinline>
             <source src="img/video1.MP4" type="video/MP4">
           </video>
         </div>
         <div class="video__circle">
           <img src="img/circles.webp" alt="hustler">
         </div>
       </div>
     </div>
     <div class="video__img gsap__video-img">
       <img src="img/hustler.svg" alt="HUSTLER">
     </div>
   </div>

   <div class="video__downline">
     <img src="img/border.webp" alt="border">
   </div>
 </section>


