<section id="services" class="services">
   <div class="container">
     <div class="services__wrapper">
       <div class="services__top">
         <div class="services__title gsap__service">
           <h2>{{ .Params.services.title }}</h2>
           <div class="services__remark gsap__service">{{ .Params.services.subtitle }}</div>
         </div>
         <div class="services__hashtag">
          {{  range .Params.services.hashtag }}
            <div class="services__tag gsap__service">
              #{{ .text }}
            </div>
          {{ end }}
         </div>
       </div>
     </div>
     <div class="services__accordeon">
       <div class="quest">
         <div class="wrapper">
           <div class="block one">
              {{  range .Params.services.accordion }}
                <div class="block__item gsap__accordeon">
                  <div class="block__title "><span>{{ .title }}</span></div>
                  <div class="block__text ">
                    {{  range .paragraph }}                      
                          <p>{{ .text }}</p>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
           </div>
         </div>

       </div>
     </div>
   </div>
 </section>

