</main>
<footer class="footer">
   <div class="container">
     <div class="footer__upline">
       <div class="footer__contain">
         <div class="footer__contacts gsap__footer">
           <img src="img/icon1.png" alt="statuya">
           <a href="https://t.me/hustleragency">@hustleragency</a>

         </div>
         <div class="footer__contacts gsap__footer">
           <img src="img/icon2.png" alt="statuya">
           <a href="mailto:hustlerdigitalagency@gmail.com">hustlerdigitalagency@gmail.com</a>

         </div>
         <div class="footer__contacts gsap__footer">
           <img src="img/icon3.png" alt="statuya">
           <a href="https://instagram.com/hustler.digital" target="_blank">@hustleragency</a>

         </div>
         <div class="footer__contacts gsap__footer">
           <img src="img/icon4.png" alt="statuya">
           <a href="tel:+380960896265">+380960896265</a>

         </div>
       </div>
       
     </div>
     <div class="footer__img gsap__footer">
       <img src="img/hustler.svg" alt="HUSTLER">
     </div>
     <div class="footer__downline gsap__footer">
       <a href="polityka.html">Політика конфіденційності</a>
       
       <div class="footer__remark gsap__footer">HUSTLERDIGITAL (C) 2023</div>

     </div>
   </div>
 </footer>

