<section id="sliderKeys" class="slider">
   <div class="slider__markdown ">
     <div class="gsap__mark">
      {{ .Params.sliders.markdown | safeHTML }}
     </div>
   </div>
   <div class="container">
     <div class="slider__wrapper">
       <div class="slider__left gsap__slider">
          {{  range .Params.sliders.sliderLeft }}
              <div class="slider__content-first">
                <div class="slider__title">
                  <h2>
                    {{ .title }}
                  </h2>
                </div>
                <div class="slider__novisible">
                  <img src="{{ .image }}" alt="{{ .title }}">
                </div>
                <div class="slider__text">                      
                  {{  range .paragraph }}
                      <p>{{ .text }}</p>
                  {{ end }}
                </div>
                <div class="slider__bottom">
                  
                  <div class="slider__box">
                    {{ .blogers | safeHTML }}
                  </div>
                  <div class="slider__box">
                    {{ .coverage | safeHTML }}
                  </div>
                  <div class="slider__box">
                    {{ .country }}
                  </div>    
                </div>
              </div>
          {{ end }}

       </div>
       <div class="slider__right">
         <div class="slider__content-second gsap__slider-right">
           <img src="/img/favbet.webp" alt="favbet">
         </div>
         <div class="slider__content-second">
           <img src="/img/gorilla.webp" alt="gorilla">
         </div>
         <div class="slider__content-second">
           <img src="/img/elslots.webp" alt="Elslots">
         </div>
         <div class="slider__content-second">
           <img src="/img/aura.webp" alt="aura">
         </div>
         <div class="slider__content-second">
           <img src="/img/1win.webp" alt="1win">
         </div>
         <div class="slider__content-second">
           <img src="/img/1xbet.webp" alt="1xbet">
         </div>
         <div class="slider__content-second">
           <img src="/img/parimatch.webp" alt="parimatch">
         </div>
       </div>
     </div>
   </div>
 </section>





