<section id="blogers" class="blogers">
   <div class="container">
     <div class="blogers__border">
       <img src="/img/border.webp" alt="border">
     </div>
     <div class="blogers__wrapper">
       <div class="blogers__upline">
         <h2 class="blogers__title gsap__blog">{{ .Params.blogers.title }}</h2>
         <div class="blogers__hashtag">
          {{  range .Params.blogers.hashtag }}
            <div class="blogers__tag services__tag gsap__blog">
              #{{ .text }}
            </div>
          {{ end }}
         </div>
       </div>
       <div class="blogers__content">
        {{  range .Params.blogers.card }}
          <a href="{{ .url }}" target="_blank"
              class="blogers__box gsap__blogers">
              <div class="blogers__img">
                <img src="{{ .image }}" alt="{{ .link }}">
              </div>
              <div class="blogers__downline">
                <div class="blogers__followers">{{ .folowers }}</div>
                <div class="blogers__name">@{{ .link }}</div>
              </div>
           </a>
          {{ end }}
         <div class="blogers__box blogers__box--btn gsap__blogers-btn">
           <a id="load-more-btn" class="blogers__show-more">
             {{ .Params.blogers.button }}
             <div class="blogers__arrow">
               <svg width="80" height="81" viewBox="0 0 80 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <line x1="3.5354" y1="3.03074" x2="76.6859" y2="77.4646" stroke="black" stroke-width="5"
                   stroke-linecap="round" />
                 <line x1="9.03711" y1="78" x2="75.3985" y2="78" stroke="black" stroke-width="4"
                   stroke-linecap="round" />
                 <line x1="76.9648" y1="10.7197" x2="76.9648" y2="77.0811" stroke="black" stroke-width="4"
                   stroke-linecap="round" />
               </svg>
             </div>
           </a>

         </div>

       </div>
     </div>
   </div>
   <div class="blogers__danger">
     <img src="/img/danger.webp" alt="HUSTLERDIGITAL">
   </div>
 </section>
