<section class="mobile">
  <div class="container">
    <div class="mobile__wrapper">
      <div class="mobile__img">
        <img class="gsap__test" src="img/iphone.webp" alt="iphone">
        <video class="gsap__test" autoplay muted loop id="myVideo2" playsinline>
          <source src="img/video2.M4V" type="video/MP4">
        </video>

      </div>
      <div class="mobile__title">
        <div class="mobile__trigger gsap__mobile-text1"><img src="{{ .Params.mobile.image1 }}" alt="mobile"></div>
        <div class="mobile__trigger gsap__mobile-text2"><img src="{{ .Params.mobile.image2 }}" alt="mobile"></div>

        <div class="mobile__trigger gsap__mobile-text3"><img src="{{ .Params.mobile.image3 }}" alt="mobile"></div>



      </div>
    </div>
  </div>
  <div class="mobile__border">
    <img src="img/border.webp" alt="border">
  </div>
</section>