<section id="form" class="form">
    <div class="container">
      <div class="form__content">
        <h2 class="form__title gsap__form">попрацюємо?</h2>
        <form action="telegram.php" method="POST" class="form__main">
          <div class="form__contain">
            <div class="form__left gsap__form">
              <input class="" type="email" name="user_name" required placeholder="SAMBRERO@GMAIL.COM" />
              <input class="" type="number" name="user_phone" required placeholder="Телефон" />
              <input class="" type="text" name="user_project" placeholder="Посилання на проект" />
            </div>
            <div class="form__right gsap__form">
              <input type="text" name="user_info" placeholder="Додаткове повідомлення" />
            </div>
          </div>
          <div class="form__button"><button type="submit" class="btn btn--form gsap__form">ЗВ’ЯЗАТИСЬ</button>
          </div>
        </form>
      </div>
    </div>
  </section>