<section id="form" class="form">
    <div class="container">
      <div class="form__content">
        <h2 class="form__title gsap__form">{{ .Params.form.title }}</h2>
        <form action="/.netlify/functions/sendToTelegram" method="POST" class="form__main">
          <div class="form__contain">
            <div class="form__left gsap__form">
              <input class="" type="email" name="user_name" required placeholder="{{ .Params.form.email }}" />
              <input class="" type="number" name="user_phone" required placeholder="{{ .Params.form.text1 }}" />
              <input class="" type="text" name="user_project" placeholder="{{ .Params.form.text2 }}" />
            </div>
            <div class="form__right gsap__form">
              <input type="text" name="user_info" placeholder="{{ .Params.form.text3 }}" />
            </div>
          </div>
          <div class="form__button"><button type="submit" class="btn btn--form gsap__form">{{ .Params.form.button }}</button>
          </div>
        </form>
      </div>
    </div>
  </section>