{{ define "main" }}
<section class="thanks">
    <div class="container">
      <div class="thanks_wrapper">
        <div class="thanks__img">
          <div class="thanks__circle">
            <img class="" src="/img/circles.webp" alt="circle">
          </div>
          <div class="thanks__done">
            <img class="" src="/img/done1.png" alt="">
            <img class="gsap__done" src="/img/done2.png" alt="done">
          </div>
        </div>
        <div class="thanks__title">заявку прийнято</div>
        <div class="thanks__remark">Наші менеджери зв’яжуться з вами
          найближчим часом</div>
        <a href="/">НА ГОЛОВНУ</a>
      </div>
    </div>
  </section>
{{end}}